[Desktop Entry]
Version=1.0
Name=butt
Comment=broadcast using this tool
GenericName=Streaming Tool
Keywords=Stream,Audio,Shoutcast,Icecast,Record
Exec=butt %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=butt
Categories=AudioVideo;Audio;AudioVideoEditing;
StartupNotify=true

